{% extends 'layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <hr>
    <p>Ташкент, Яккасарайский район, улица Шота Руставели, дом 56, квартира 19</p>
    <p>тел: +998-99-726-98-11, эл.адрес: javohir.nematov@gmail.com</p>
{% endblock %}

{% block tools %}
    <hr>
    Тэги:
    {% for category in categories %}
        <a href="category/{{ category.id }}">{{ category.category_name }}</a>
    {% endfor %}
    <hr>
    Статьи:
    {% for product in products %}
        <a href="product/{{ product.id }}">{{ product.product_name }}</a>
    {% endfor %}
{% endblock %}

{% block search %}
        <hr>
        <h5>Найти статью по названию</h5>
        <form action="search" method="POST">
            {% csrf_token %}
            <input class="find" type="text" name="search_product"><br>
            <br>
            <button class="search">Поиск</button>
        </form>
        <hr>
{% endblock %}
