{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Главная</h1>
    <hr>
    <h4> Добро пожаловать на наш информационно-новостной сайт.
        <br>
        <br>
        </h4>
    <p> Данный сайт один из самых активных интернет-изданий Узбекистана.
        Целью сайта является предоставление оперативной, точной и объективной информации
        о наиболее важных событиях, происходящих в Узбекистане и мире.
        По данным Google Analytics, ежедневно сайт посещают 350 000 человек.
        Использование сайта абсолютно бесплатное, расходуется только интернет-трафик.

        Есть страницы в Facebook, Twitter, Instagram, соцсетях «Одноклассники»,
        а также канал в мессенджере Telegram.
        Также есть мобильные приложения для устройств Android и iOS.
        Их можно скачать в Google Play и App Store.
        Проект стартовал в сентябре 2023 года. Оно зарегистрировано как средство массовой информации.
        Учредителем проекта является ООО «JAVA NEWS».
        Сайт работает в сотрудничестве с государственными и общественными организациями,
        действующими на территории Республики Узбекистан в соответствии с законодательством.
        Условия использования материалов сайта «JAVA NEWS»
        Редакция сайта «JAVA.NEWS» не несет ответственности за достоверность информации,
        опубликованной на сайте, скопированной на основании правил (при условии указания источника).
        По поводу статьи, опубликованной на сайте, мнение ее автора и редакции сайта может не совпадать.
        Также редакция сайта не обязана писать отдельный ответ на каждое письмо, присланное их читателями.
        Условия использования материалов сайта другими сайтами или СМИ:
        Сайт обеспечивает обмен информацией и статьями с интернет-сайтами и изданиями,
        действующими на территории Республики Узбекистан, регионах и за рубежом.
        Использование информации на сайте возможно только с письменного разрешения редакции.
        При использовании материалов необходимо указывать название сайта (автора)
        в пределах первой или третьей строки приведенного материала.
        Мы всегда рады сотрудничеству с другими изданиями.
        </p>
{% endblock %}

{% block tools %}
    <hr>
    Тэги:
    {% for category in categories %}
        <a href="category/{{ category.id }}">{{ category.category_name }}</a>
    {% endfor %}
    <hr>
    Статьи:
    {% for product in products %}
        <a href="product/{{ product.id }}">{{ product.product_name }}</a>
    {% endfor %}
{% endblock %}

{% block search %}
        <hr>
        <h5>Найти статью по названию</h5>
        <form action="search" method="POST">
            {% csrf_token %}
            <input class="find" type="text" name="search_product"><br>
            <br>
            <button class="search">Поиск</button>
        </form>
        <hr>
{% endblock %}

